{% extends 'base.html' %}

{% block header %}
  <h1>Welcome to Exonviz</h1>
{% endblock %}

{% block content %}
  <p>
    Welcome to Exonviz, try it out by clicking <a href="http://127.0.0.1:5000/draw/NG_012337.3(NM_003002.4):c.274G>T">here</a>!
  </p>
  <p>Input a transcript name (with version!) or HGVS description below
    <form method="POST">
      <label for="transcript">Transcript</label>
      <br>
      <input type="text" name="transcript" value="{{ request.form['transcript'] }}"></input>
      <br>

      <label for="height">Exon height</label>
      <br>
      <input type="int" name="height", value="{{ request.form.get('heigh', 20) }}"></input>
      <br>

      <button type="submit">Submit</button>
    </form>
  </p>

  {% if session["svg"] %}
    {{ session["svg"] | safe }}
  {% endif %}
{% endblock %}
