bind = "127.0.0.1:{{ internal_port }}"

loglevel = "debug"
errorlog = "{{ install_dir }}/gunicorn_error.log"
accesslog = "{{ install_dir }}/gunicorn_access.log"

# Capture print, logging from the workers
capture_output = True
